<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SIASSImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SIASSImport.Properties.Settings>
      <setting name="CartellaImportazione" serializeAs="String">
        <value>C:\Temp\Importazione</value>
      </setting>
      <setting name="CartellaArchivio" serializeAs="String">
        <value>C:\Temp\Archivio</value>
      </setting>
      <setting name="SeIntestazioneCSV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CarattereDelimitatoreCampiCSV" serializeAs="String">
        <value>,</value>
      </setting>
      <setting name="CarattereCommentiCSV" serializeAs="String">
        <value>#</value>
      </setting>
      <setting name="SeCampiCSVRacchiusiTraVirgolette" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SeparatoreDecimaliMisurazioneCSV" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="SeInviareEmailFineEsportazione" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SeInviareEmailErrore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DestinatariEmail" serializeAs="String">
        <value>xxx@xxx.com</value>
      </setting>
      <setting name="ServerSMTP" serializeAs="String">
        <value>out.xxx.it</value>
      </setting>
      <setting name="PortaServerSMTP" serializeAs="String">
        <value>465</value>
      </setting>
      <setting name="SeAbilitareSSLPerSMTPServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NomeUtenteSMTP" serializeAs="String">
        <value>xxx@xxx.it</value>
      </setting>
      <setting name="PasswordUtenteSMTP" serializeAs="String">
        <value>xxx</value>
      </setting>
      <setting name="FormatoDataCSV" serializeAs="String">
        <value>yyyy-MM-dd HH:mm</value>
      </setting>
      <setting name="StringaConnessioneDB" serializeAs="String">
        <value>USER ID=SIASS;PASSWORD=SIASS;DATA SOURCE=localhost:1521/xe</value>
      </setting>
      <setting name="SoloVerificaDati" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IndirizzoMittenteEmail" serializeAs="String">
        <value>xxx@xxx.it</value>
      </setting>
    </SIASSImport.Properties.Settings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>