<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>
	<system.web>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
		</httpHandlers>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</buildProviders>
		</compilation>
		<!-- Dimensione massima lato server di un file da caricare prima di generare un errore (KB) -->
		<!-- la dimensione massima effettiva e' definita nella sezione appSettings -->
		<httpRuntime targetFramework="4.8" maxRequestLength="30000" executionTimeout="180" />
		<!-- Utilizzato per impostare la lingua -->
		<globalization culture="it-IT" uiCulture="it-IT" />
		<authentication mode="Forms">
			<forms name=".SIASS_1" loginUrl="Login/Login.aspx" defaultUrl="Stazione/ElencoStazioni.aspx" protection="All" timeout="30" slidingExpiration="true" path="/" />
		</authentication>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
	</system.web>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</providers>
	</entityFramework>
	<oracle.manageddataaccess.client>
		<version number="*">
			<edmMappings>
				<edmMapping dataType="number">
					<add name="bool" precision="1" />
				</edmMapping>
			</edmMappings>
		</version>
	</oracle.manageddataaccess.client>
	<connectionStrings>
		<add name="SIASSEntities" connectionString="metadata=res://*/Model.SIASSModel.csdl|res://*/Model.SIASSModel.ssdl|res://*/Model.SIASSModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/XE;PASSWORD=SIASS;PERSIST SECURITY INFO=True;USER ID=SIASS&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="GsoWebServicesSoap" maxReceivedMessageSize="500000">
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
					</security>
				</binding>
				<binding name="AnsoloWebServiceSoap">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://localhost/gsows/gso.asmx" binding="basicHttpBinding" bindingConfiguration="GsoWebServicesSoap" contract="GSOServiceReference.GsoWebServicesSoap" name="GsoWebServicesSoap" />
			<endpoint address="https://localhost/ansolo/ws/AnsoloWebService.asmx" binding="basicHttpBinding" bindingConfiguration="AnsoloWebServiceSoap" contract="ANSOLOServiceReference.AnsoloWebServiceSoap" name="AnsoloWebServiceSoap" />
		</client>
	</system.serviceModel>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<!-- Mostra errore dettagliato (S = mostra dettagli) -->
		<add key="MostraErroreDettagliato" value="S" />
		<!-- Messaggio di errore da mostrare all'operatore nel caso non si mostri l'errore dettagliato -->
		<add key="MessaggioErroreOperatore" value="La visualizzazione dettagliata dell'errore è disabilitata. Vedere file di log degli errori." />
		<!-- Identificativo applicativo (come indicato in GSO)-->
		<add key="IdentificativoApplicativo" value="SIASS" />
		<!-- URL di uscita dall'applicazione -->
		<add key="URLUscita" value="https://xxx.org/" />
		<!-- Opzione per forzare la richiesta di credenziali utente (valori ammessi: True, False) -->
		<add key="RichiestaCredenziali" value="True" />
		<!-- Dimensione massima di un file da caricare (Byte) (vedi anche sezione system.web) -->
		<add key="DimensioneMassimaFileDaCaricare" value="20971520" />
		<!-- Google API Key per la mappa; stringa vuota per non usare una chiave -->
		<add key="GoogleAPIKey" value="xxx" />
		<!--<add key="GoogleAPIKey" value="" />-->
		<!-- Numero di giorni per l'intervallo di default dei filtri delle date delle misurazioni -->
		<!-- Il filtro parte da oggi fino a X giorni all'indietro -->
		<add key="GiorniDataInizioFiltroMisurazioni" value="30" />
		<!-- Numero massimo di misurazioni da mostrare -->
		<add key="NumeroMassimoMisurazioni" value="10000" />
		<!-- SeparatoreCampiCSV utilizzato nell'esportazione delle misurazioni -->
		<add key="SeparatoreCampiCSV" value=";" />
		<!-- SeparatoreDecimale utilizzato nell'esportazione delle misurazioni -->
		<add key="SeparatoreDecimale" value="," />
		<!-- Profili GSO per operatori inteventi (separati da ";"): se l'utente GSO ha uno di questi profili può essere selezionato come operatore di un intervento -->
		<add key="ProfiliGSOOperatoriInterventi" value="GESTIONE" />
		<!-- Id del tipo strumento "Lettura sul campo" (tabella SIAS_TIPI_STRUMENTO) -->
		<add key="IdTipoStrumentoLetturaSulCampo" value="1" />
		<!-- Nome rete organoclorurati usato per generare il verbale specifico; deve coincidere con il valore della tabella SIAS_TIPI_RETE_APPARTENENZA e con il nome del file rdlc -->
		<add key="NomeReteOrganoclorurati" value="Organoclorurati" />
		<!-- Nome grandezza spurgo usato per generare il dato di presenza spurgo per il verbale organoclorurati; deve coincidere con il valore della tabella SIAS_TIPI_GRANDEZZA -->
		<add key="NomeGrandezzaSpurgo" value="Spurgo" />
		<!-- Nome header che contiene il codice fiscale -->
		<add key="NomiHeaderCodiceFiscale" value="X-fiscalNumber,X-CODICEFISCALESPID" />
		<!-- URL Datset struttura della rete di monitoraggio -->
		<add key="URLDatasetReteMonitoraggio" value="https://xxx/Service/Query/SIASS_rete?apikey=68BTH01CYKVRHJMB" />
		<!-- URL Dataset stazioni -->
		<add key="URLDatasetStoricoMisurazioni" value="https://xxx/Service/Query/SIASS_dati?apikey=68BTH01CYKVRHJMB&amp;mese=__MESE__&amp;anno=__ANNO__&amp;stazione=__CODICE_STAZIONE__" />
		<!-- URL Privacy -->
		<add key="URLPrivacy" value="https://xxx/privacy.html" />
		<!-- Cartella che contiene i file dei verbali interventi-->
		<add key="CartellaVerbaliInterventi" value="C:\xxx\SIASS\File\VerbaliInterventi\[ID_STAZIONE]\" />
		<!-- API key endpoint verbali interventi-->
		<add key="ApiKeyEsportazioneVerbaliInterventi" value="xxx" />
		<!-- URL di base delle API anagrafiche -->
		<add key="ApiAnagraficheBaseUrl" value="http://localhost:3007/" />
		<!-- API key delle API anagrafiche -->
		<add key="ApiAnagraficheApiKey" value="xxx" />
		<!-- Endpoint configurazione operatore delle API anagrafiche -->
		<add key="ApiAnagraficheConfigurazioneOperatore" value="Service/Query/ANAccessoUtenti?risorsa=[risorsa]&amp;cf=[cf]&amp;USERNAME=[username]&amp;ApiKey=[apiKey]" />
		<!-- Endpoint analiti delle API anagrafiche -->
		<add key="ApiAnagraficheAnaliti" value="Service/Query/ANMatriciAnaliti?matrice=[codice_matrice]&amp;cod_argomento=[codice_argomento]&amp;cod_pack=[codice_pacchetto]&amp;analita_name=[parte_nome_analita]&amp;linea=[linea]&amp;ApiKey=[apiKey]" />
		<!-- Endpoint pacchetti delle API anagrafiche -->
		<add key="ApiAnagrafichePacchetti" value="Service/Query/ANPacchetti?matrice=[codice_matrice]&amp;cod_argomento=[codice_argomento]&amp;sede=[sede_accettazione]&amp;linea=[linea]&amp;ApiKey=[apiKey]" />
		<!-- Endpoint contenitori delle API anagrafiche -->
		<add key="ApiAnagraficheContenitori" value="Service/Query/ANContenitori?pack_identity=[codice_pacchetto]&amp;ApiKey=[apiKey]" />
		<!-- Estensioni di file accettate dai controlli FileUpload per il caricamento di file -->
		<add key="EstensioniAccettate" value=".pdf,.jpg,.jpeg,.doc,.docx,.xls,.xlsx" />
	</appSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			<add name="EsportazioneVerbali" path="EsportazioneVerbali.ashx" verb="GET" type="SIASS.EsportazioneVerbali" resourceType="Unspecified" />
		</handlers>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<location path="TEST">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Content">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Scripts">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Login">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
</configuration>